@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply rounded-full shadow-[inset_0_0_2px_theme(colors.neutral.400)] dark:shadow-[inset_0_0_2px_theme(colors.neutral.800)];
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-300 dark:bg-neutral-900;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400 dark:bg-neutral-800;
}
